<div>{% if heading_title %}
  <h2>{{ heading_title }}</h2>
  {% endif %}
  {{ html }}</div>



<script type="text/javascript">
    $(document).ready(function() {
    $("#owl-testi").owlCarousel({
    itemsCustom : [
    [0, 1],
    [768, 2],
    [992, 2],
    [1200, 3]
    ],
      autoPlay: false,
      navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      navigation : true,
      pagination:false
    });
    });
</script>

